<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jamienicol.episodes"
    android:versionCode="7"
    android:versionName="0.7" >

  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="19" />

  <uses-permission
      android:name="android.permission.INTERNET" />

  <application
      android:name=".EpisodesApplication"
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

    <activity
        android:name=".MainActivity"
        android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".AboutActivity"
        android:label="@string/about_title" >
    </activity>

    <activity
        android:name=".AddShowSearchActivity"
        android:label="" >
    </activity>

    <activity
        android:name=".AddShowPreviewActivity"
        android:label="" >
    </activity>

    <activity
        android:name=".ShowActivity"
        android:label="" >
    </activity>

    <activity
        android:name=".SeasonActivity"
        android:label="" >
    </activity>

    <activity
        android:name=".EpisodeActivity"
        android:label="" >
    </activity>

    <service
        android:name=".services.AddShowService" >
    </service>

    <service
        android:name=".services.RefreshShowService" >
    </service>

    <provider
        android:name=".db.ShowsProvider"
        android:authorities="org.jamienicol.episodes.db.ShowsProvider"
        android:exported="false" >
    </provider>

  </application>
</manifest>
