<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jamienicol.nextepisode"
    android:versionCode="1"
    android:versionName="0.1" >
  <uses-sdk
      android:minSdkVersion="11"
      android:targetSdkVersion="16" />
  <uses-permission
      android:name="android.permission.INTERNET" />

  <application
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher" >

    <activity
        android:name=".MainActivity"
        android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data
          android:name="android.app.default_searchable"
          android:value=".AddShowSearchActivity" />
    </activity>

    <activity
        android:name=".AddShowSearchActivity" >
    </activity>

    <provider
        android:name=".db.ShowsProvider"
        android:authorities="org.jamienicol.nextepisode.db.ShowsProvider"
        android:exported="false" />
  </application>
</manifest>
